.external {
    color:  yellow;
}   



 img {
    height: 250px;
    width: 250px;
    border-radius: 50px;
    float: right;
    text-align: right;
}



.gallery > img {
    height: 300px;
    width: 300px;
    border-radius: 50px;
    float: right;
    text-align: right
}